<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="SpentAmoutData" class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <app-linebarchart [dataset]="SpentAmoutData"></app-linebarchart>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily spend amount this month</h4>
            <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i> 55%
              </span>
              increase in today spend.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="totalSpentPerExpense" class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <app-barchart [dataset]="totalSpentPerExpense"></app-barchart>
          </div>
          <div class="card-body">
            <h4 class="card-title">total spend per expense type</h4>
            <!-- <p class="card-category">
              <span class="text-success"
                >
                <i class="fa fa-long-arrow-up"></i> 10%
              </span>
              increase in today spend.
            </p> -->
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>
      <!--chartjs-->

      <!--chart end-->
    </div>
  </div>
</div>
